{
  "presets": [
    ["@babel/preset-env",
    {
      targets: {
        esmodules: true,
      },
    }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["transform-inline-environment-variables"],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
